@font-face { 
    font-family: ShellBook;
    src: url(./fonts/ShellBook.ttf);
    src: local('ShellBook'),
    url(./fonts/ShellBook.ttf) format('truetype'); 
   } 
@font-face { 
    font-family: ShellBold;
    src: url(./fonts/ShellHeavy.ttf);
    src: local('ShellBold'),
    url(./fonts/ShellHeavy.ttf) format('truetype'); 
   } 
@font-face { 
    font-family: ShellLight;
    src: url(./fonts/ShellLight.ttf);
    src: local('ShellBold'),
    url(./fonts/ShellLight.ttf) format('truetype'); 
   } 
@font-face { 
    font-family: ShellMedium;
    src: url(./fonts/ShellMedium.ttf);
    src: local('ShellBold'),
    url(./fonts/ShellMedium.ttf) format('truetype'); 
   } 

.banner{
    margin: 0; 
    padding:0; 
    border: none; 
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.overlay{
    position: absolute;
    top: 0%;
    left: 0;
    background: url('./media/try.jpg');
    background-size: contain;
    width: 100%;
    height:100%;
    opacity: .3;
    opacity: 1;
    /* transition: .5s; */
    animation: transition .3s;
}

@keyframes transition {
    0%{
        transform: scale(.98);
    }
    30%{
        transform: scale(.92);
    }
    80%{
        transform: scale(1.02);

    }
    100%{
        transform: scale(1);

    }
}



.hidden{
    position: relative;
    top: 0%;
    left: 0;
    background: url('./media/try.jpg');
    background-size: contain;
    width: 100%;
    height:100%;
    opacity: 0.3;
    opacity: 0;
    z-index: 10;
    display: flex;

}

.title{
    position: absolute;
    top: 11.5%;
    left: 37.2%;
    font-size: 3vw;

    line-height: 1.25;
    color: rgb(255, 255, 255);
    font-family: 'ShellBold';
}

.yellowBtn{
    display: flex;
    position: relative;
    top: 48%;
    left: 37.1%;
    background-color: #FACD30;
    width: 33%;
    height: 20%;
    cursor: pointer;
    border: none;
    color: #494949;
    transition: .4s ;
}
.yellowBtn:focus, .yellowBtn:hover{
    background-color: #494949;
}
.yellowBtn:focus .btnContent, .yellowBtn:hover .btnContent{
    color: #FACD30;
}
.redSquare{
    position: absolute;
    top: 35%;
    left: 5%;
    width: 6%;
    height: 30%;
    background-color: #DD1D21;
}

.arrow{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 10px solid rgb(255, 255, 255);

}

.btnContent{
    font-size: 1.8vw;
    line-height: 1.25;
    color: #494949;
    font-family: 'ShellBold';
    position: absolute;
    top: -1%;
    left: 15.7%;
}

.link{
    font-size: 1.8vw;
    line-height: 1.25;
    color: rgb(255, 255, 255);
    font-family: 'ShellBook';
    position: absolute;
    top: 73%;
    left: 37.3%;
    text-underline-position: below;
    text-underline-offset: 5% ;
    /* text-decoration: none; */
    /* position: relative; */
    transition: .4s;
}
/* .link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 5%;
    bottom: 1%;
    left: 0;    
    background-color: #fff;
} */

.link:focus, .link:hover{
    color: #DD1D21;
}

.link:focus .link::after{
    background-color:#DD1D21;

}



.description{
    position: absolute;
    bottom: 0;
    left: 3vw;
    width: 30%;
    height: 55%;
    padding: 0 1.75vw;
}
.description_content{
    font-size: 1.9vw;
    line-height: 1.20;
    color: rgb(255, 255, 255);
    font-family: 'ShellLight';
    font-family: 'ShellMedium';
    font-family: 'ShellBook';

}